body {
	background-image: url("backgroundForSite.jpg");
	background-color: #cccccc;
	font-size: 25px;
	color: #342D7E;
}



#menu
{
	position: fixed;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #FFF8DC;
	font-size: 40px;
	font-family: "Lucida Sans Unicode", Times, serif;
	font-style: italic;
	text-shadow: 2px 2px Silver;
}
